/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/


* { margin: 0; padding: 0; }
body { font: 18px/1.4 Georgia, serif; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

/* IMAGE HOVER TING */
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 1s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

header { 
	 background: white;
	 color: black;
	 padding: none;
}

h1, h2 {
	font-weight: normal;
}
h1 { font-size: 50px; margin: 0 0 10px 0; }
h2 { font-size: 38px; margin: 0 0 10px 0; }
p, pre { margin: 0 0 15px 0; }

.inside {
	width: 960px; 
	margin: 0 auto; 
}

a:hover {
	color: chartreuse;
}

section {
	padding: 20px 0; 
	overflow: show; 
}


#three {
	background: white;
}

.nav {
	width: 100%;
	float: left;
	list-style: none;
}
.nav li {
	position: relative;
}
.nav a {
	display: inline;
	padding: 0px;
	text-decoration: none;
	color: black	;
}
.nav a:hover {
	background: none;
}

.nav audio { position: absolute; left: 110%; top: 10px; display: block; height: 30px; width: 200px; }
